body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    background-color: #FFFFF0;
    padding: 0;
    margin-left: 16%;
    margin-right: 16%;
}

pre {
    margin-left: 10%;
    margin-right: 10%; 
    white-space: pre-line;
}

header {
    text-align: center;
    margin: 20px;
}

header h1 {
    color: #444;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

#navbar {
    position: sticky;
    top: 0;
    background: aliceblue;
}

#Fitness-Trackers, #advantages, #disadvantages, #media-image, #media-video {
    scroll-margin: 69px;
}

button {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

#content-area {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
}

article {
    margin-bottom: 20px;
}

#media {
    text-align: center;
    margin-top: 20px;
}

img, video {
	text-align: center;
    max-width: 100%;
    height: auto;
}